@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu',
    sans-serif;
    background: #dee1ec;
}

h1{
    text-align: center;
    margin-top: 16px;
}

#chat-window{
    height: 100%;
}

p{
    color: #364f6b;
    padding: 10px 20px;
    font-size: 18px;
}

p:nth-child(even){
    color: #5d5d5a;
    text-align: right;
    padding: 10px 20px;
}

input{
    height: 35px;
    padding-left: 14px;
}

#chat{
    position: relative;
}

button{
    
}

