.splash{
    background: url('https://images.unsplash.com/photo-1551411444-d4d4b91e729e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover
}

h2{
    margin-top: 4em
}

h2, p{
    color: #fff
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(green, yellow);
    opacity: .1
}

.nav{
    position: absolute
}

.container{
    margin-top: 12em
}