@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 12px !important;
}

*{
    font-family: 'Roboto',
    serif;
    /* background: green; */
}

.splash-image{
    width: 100%;
}

.image{
    width: 100%;
    margin: 0;
}



.search-button{
    background: transparent !important;
    border: 1px solid #fff !important;
    height: 45px;
}

.button{
    width: 100%;
    height: 45px !important;
}

input{
    background: transparent;
    /* color: #fff !important; */
    /* width: 50% !important; */
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important
}

input:focus{
    color: #fff !important
}

input::placeholder{
    color: #000;
    opacity: .7;
}

select{
    background: transparent;
    color: #000;
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    /* width: 50% !important */
}

.collapsible {
    background-color: #777;
    /* color: white; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.splash-page{
    /* background: red */
    background: #17b978;
    height: 30em;
    /* overflow: hidden; */
}

.lower{
    display: inline;
}



form{
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 2em;
    height: 50em;
    position: relative;
    bottom: 0;
}

h1{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding-top: 2em !important;
    color: #000;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
}

.selections{
    width: 15% !important
}

.outline:focus{
    outline: none !important
}

.region{
    width: 100%;
    height: 2.3em;
    border-radius: 5px;
    border: none
}

.region:focus{
    outline: none;
}

/* .button{
    width: 10% !important
} */



img{
    width: 12em;
    max-height: 500px;
    margin-right: 1em;
}

.shift{
    display: grid;
    grid-gap: 2em;
     grid-template-columns: 1fr 1fr; 
     margin: 12em auto !important; 
     width: 100% !important;
    background: #dee1ec !important;
    padding: 1.5em;
}

.shift:nth-child(odd){
    background-color: #f5eded !important;
}

.innerContainer{
    /* display: inline-block;
    width: 40% !important */
}

.results{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto; */
}

.inline{
    margin: 1em 0 !important;
    display: inline-block;
    justify-content: center;
    width: 30%;
}

h4, p{
    /* width: 8.5em; */
    margin: 0 !important;
    line-height: 30px;
    background-color: transparent;
    display: inline;
}

h4{
    font-size: 1em;
}

.innerContainer{
    display: inline-block;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
}

.misc-buttons{
    margin: auto;
    /* display: inline; */
    justify-content: center;
}

.search-button{
    width: 50% !important;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    border: none;
}

button{
    border: transparent !important;
    margin: 16px 0 !important;
}

.container{
    width: 100%;
}