@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&family=Plaster&family=Rubik+Mono+One&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 80%;
    height: 600px;
    right: 0;
    position: absolute;
    background-size: cover;
    background-position: right;
    margin-top: 11.6em;
}

.links{
    list-style: none;
}

.socials{
    display: flex;
    font-family: 'Montserrat';
    writing-mode: vertical-rl;
    height: 60%;
    position: fixed;
    bottom: 0;
    left:0;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 1em;
    transform: rotateZ(180deg);
}

/* .card-container{
    margin-top: -6em;
    margin-left: 6em
} */

.header-text{
    position: absolute;
    /* margin-top: 1em; */
    width: 100vw;
   display: flex;
   justify-content: space-evenly;
   
   
}

.text{
    padding-top: 80px;
    margin-left: 8em;
    font-weight: 100;
    width: 30%;
    font-family: 'Montserrat',
    sans-serif;
}

.card-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    bottom: 0;
}

.card{
    background: gray;
    border: 1px solid lightgrey;
    height: 100%;
    position: relative
    /* display: none; */
}

@media only screen and (max-width: 1000px){
body{
    width: 100%
}

    .header-text{
        width: 100vw;
        display: block;
        /* margin-top: 8em; */

    }
    .text{
        width: 75%;
        display: block;
        color: #3b5441
    }

    p .text{
        margin-left: 15px;
    }
}