body{
    font-family: Arial;
    background: rgb(255, 246, 225);
}



.container{
    display: flex;
    grid-template-columns: repeat(4, auto);
}

.product-grid{
    margin: 0 10px;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    grid-gap: 25px;
    display: inline-block;
    width: 23%;
}
img{
    width: 400px
}

.inner{
    /* width: 20% */
}
form{
margin: 0 auto;
position: relative;;
}