*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}

:root{
    --headings: font-family: 'Poppins',sans-serif;
    --body: font-family: 'Open Sans',sans-serif;
    --primary-buttons: hsl(322, 100%, 66%);
    --footer-background: hsl(192, 100%, 9%);
    --footer-text: hsl(207, 100%, 98%);
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 2em;
}

.logo-type{
    height: 1.375em
}

.top-try{
    padding: 5px 15px;
    color: var(--primary-buttons);
    border: 1px solid var(--primary-buttons);
    background: transparent;
    border-radius: 25px;
}

.splash-title{
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: .8em;
    text-align: center;
}

.splash-subtitle{
    text-align: center;
    font-size: .8em;
    width: 80%;
    margin: auto;
    color: gray
}

.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  1.5em 0;
}

.top-submit, .bottom-submit{
    padding: 9px 15px;
    color: #fff;
    background: var(--primary-buttons);;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
}

.bottom-submit{
   box-shadow: 2px 2px 4px rgb(192, 192, 192);
}

.screen-mockups{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.users{
    display: flex;
    justify-content: space-evenly;
    margin: 2em  auto;
}

.user-icons{
    margin-top: 1em;
    width: 30%;
}

h4{
    color: gray;
    font-weight: 200;
    font-size: .5em;
}

.illustrations{
    width: 80%;
    margin: auto;
    display: flex;
}

.example.container{
    width: 100%;
}

.grow, .flowing, .your-users{
    /* display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 20px; */
    display: block;
    margin: 0 auto;
}

.together, .conversation, .users-text {
    width: 60%;
    line-height: 12px;
    margin: 1em auto
}


.example-titles{
    font-size: 0.875em;
    font-weight: 600;
}

.example-desc{
    font-size: 12px;
    width: 30%;
    line-height: 6px;
    color: #000;
}

.socials{
    display: flex;
    list-style: none;
}

.fab{
    padding: 0 0 0 8px
}

.footer-content{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--footer-background);
    flex-direction: column-reverse;
}

.footer-logo{
    width: 5.375em;
    color: #fff;
}

.left-text{
    font-size: 12px !important;
    color: #fff;
    width: 70%;
    /* margin-left: 4.5em; */
}

small, .left-text{
    font-size: 6px;
    line-height: 1em;
}

small, .right-text{
    /* padding-top: 2em; */
    font-size: .8em;
    color: #fff;
    width: 50%;
    padding-bottom: 6em;
}

.contact{
padding: 1em 0;
/* padding: 3em 0; */
margin: auto;
width: 75%;
}

.newsletter{
    width: 75%;
    line-height: .5px;
    /* margin-top: 1em; */
    /* padding: 3em 0; */
    margin: 1em auto;
}

.right-text

h4, .news-title{
    padding: 1em 0;
    font-size: 24px;
    color: #fff;
}

i{
    color: #fff;
}

input{
    width: 100%;
    margin-top: .65em;
    height: 2.70em;
    display: flex;
    justify-content: end;
    width: 10rem;
    position: relative;
    right: 0;
    border-radius: .5em 0 0 0;
    border: none;
    padding-left: 5px;
}

input:focus{
    outline: none;
}

.subscribe{
   margin: 9px 0;
   margin-right: 5.5em;
   padding: 9px 15px;
   color: #fff;
   background: var(--primary-buttons);
   border-radius:  .5em; 
   border: none;
   display: flex;
   justify-content: center;
   width: 10rem;
}

.contact-numbers{
    margin: 1em 0 2em 0;

}

.contact-info{
    /* margin-bottom: 3em; */
    font-size: 12px;
    /* margin-left: 4.5em; */
    color: #fff;
    list-style: none;
}

footer{
    background: var(--footer-background);
}

.attribution{
    color: #fff;
}

.subscribe-container{
    display: block;
    flex-direction: row;
}

@media only screen and (min-width: 799px) {
    .flowing, .grow, .your-users{
        display: flex;
    }

    .flowing{
        flex-direction: row-reverse;
    }

    .illustrations{
        width: 25rem;
    }

    .together,
    .conversation,
    .users-text {
        margin-top: 4em;
        width: 30%;
    }

    .example-desc{
        width: 20%;
    }

    .example-titles{
        font-size: 1.6em;
        margin-bottom: 2em;
        line-height: 26px;
    }

    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .subscribe{
        border-radius: 0 .5em .5em 0;
        width: 10rem;
        padding: .7em 0;
    }

    

    .subscribe-container{
        display: flex;
    }
}