body{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

img{
    background-size: cover;
    height: 150%;
    position: absolute;
}

.splashImg{
    font-weight: 200;
}

.gallery-img,img{
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: absolute;
}